.itemCountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.counter button {
    height: 20px;
}