.itemList-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.cardItem-List {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 900px;
    list-style: none;

    display: grid;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
}

.cardItem-Container {
    max-width: 100%;
    width: 280px;
    max-height: 100%;
    height: 350px;

    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardItem-Container img {
    height: 200px;
}

.item-Link {
    display: flex;
    flex-direction: column;
    align-items: center;
}